




    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
      <ion-tab title="首页" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/shouye">
        <ion-nav-view name="tab-shouye"></ion-nav-view>
      </ion-tab>
      <!-- Chats Tab -->
      <ion-tab title="要闻" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/yaowen">
        <ion-nav-view name="tab-yaowen"></ion-nav-view>
      </ion-tab>
      <!-- Dashboard Tab -->
      <ion-tab title="视频" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/shipin">
        <ion-nav-view name="tab-shipin"></ion-nav-view>
      </ion-tab>
      <!-- Account Tab -->
      <ion-tab title="我" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/wode">
        <ion-nav-view name="tab-wode"></ion-nav-view>
      </ion-tab>

</ion-tabs>

